/* Images created by: https://unsplash.com/@pawel_czerwinski */

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #c9ced3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.container {
    max-width: 500px;
}

.img-container img{
    margin: 0 auto;
    max-height: 350px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

.controls{
    box-shadow: 0 10px 10px rgba(0,0,0,0.5),
    inset 0 3px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 80px 20px 30px;
    margin-top: -50px;
}

.btn-large{
    width: 50px;
    height: 50px;
}
.btn-small{
    width: 25px;
    height: 25px;
    font-size: 16px;
    line-height: 15px;
}

.volume-block {
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-indicator {
    width: 30px;
    margin-right: 5px;
    text-align: center;
}

.mute-btn {
    flex-shrink: 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
}

.progress-indicator{
    width: 30px;
    text-align: center;
    margin-right: 5px
}

.progress-total-time-indicator{
    width: 30px;
    text-align: center;
    margin-left: 5px
}

/* Controls */
.player-controls {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
    .img-container {
        left: 29px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    .player-controls {
        top: -10px;
        left: 100px;
    }
}
